.btn {
    background-color:white;
    border: 1px solid #7ce7ff;
    cursor: pointer;
    display: block;
    width: 100%;
}

.textbox {
	width: 90px;
}

.img {
	max-width: 300px;
	min-width: 200px;
}

h1.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h1.caption {
	color: #333333;
	font-size: 100%;
}
